.header-container{
    display: flex;
    height:100vh;
    width:100vw;
    /* border: 5px solid red; */
    background-image: url("https://dxaurk9yhilm4.cloudfront.net/images/889/DJI_0161-copy_2cbd80a0345be3b5a0b7649a1a2d057f.jpg");
    background-position: center;
}
.logo{
    display:flex;
    margin-top: 2%;
    /* border: 3px solid red; */
    width:30%;
    height:15%;
    font-size:xx-large;
    color:white;
    align-items: center;
    justify-content: center;
    order: 0;
}
.navigation{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    /* border: 2px solid blue; */
    width:50%;
    height:12%;
    margin-top: 2%;
    margin-left: 250px;
    margin-right:4%;
    color:white;
    align-items: center;
    order: 3;
}
.about{
    display:flex;
    /* border: 2px solid green; */
    justify-content: space-around;
    color:white;
    height : 20%;
    width:30%;
    margin-top: 200px;
    margin-left: -15%;
    /* margin-right: 400px; */
    order: 1;
    font-size:xx-large;
    flex-direction: column;
}

.main-section{
    display:flex;
    flex-direction:row;
    height:120vh;
    width:100vw;
    /* border: 4px solid red; */
    background:lightgrey;
    position: relative;
}


#latest{
    display:flex;
    height: 20vh;
    align-items: center;
    width:100%;
    justify-content:flex-start;
    /* border: 4px solid red; */
    /* margin-left:10%; */
    font-size:x-large;
    background-color: beige;
}

.imageAndDescription{
    /* display:flex;
    height:65%;
    width: 100%;
    border:4px solid blue; */
    /* margin-left:10%;
    margin-top: 10%; */
    /* margin: auto;
    margin-right:6%;
    margin-left: 6%; */
}

.imageSection{
    display:flex;
    flex-direction:column;
    height:100%;
    width:60%;
    /* border: 4px solid blue; */
    position: absolute;
    background-position: center;
    /* display:flex;
    height: 100%;
    width: 70%;
    border:4px solid yellow;
    flex-direction: column; */
    /* position: relative; */
    /* z-index: 1; */
    /* justify-content: center; */
}
.imageSection1{
    display: flex;
    height:60%;
    width:100%;
}

.btn2{
    display: flex;
    height:10%;
    width:20%;
    justify-content:center;
    align-items: center;
    margin-left: 30%;
    margin-top: 20%;
    /* border :2px solid green; */
}

left1, .right1{
    /* background-color: white;
    color:light black;
    padding: 14px 28px;
    font-size: 16px; */
}

.descriptionSection{
    display:flex;
    flex-direction:column;
    height:80%;
    width:40%;
    /* border: 4px solid blue; */
    position:absolute;
    background-color: white;
    margin-left: 60%;
    /* justify-content:center; */
    /* height:75%;
    width:40%;
    border:4px solid green; */
    /* margin-top: 5%; */
    /* right: 7%;
    top: 4%;
    background:white;
    position:relative;
    z-index: 2;
    flex-direction:column;
    justify-content:space-around; */
}

.staticNews{
    display:flex;
    height: 10%;
    width:100%;
    /* border:4px solid red; */
    font-size:medium;
}

.newsHeading{
    display:flex;
    height:20%;
    width:100%;
    /* border:4px solid blue; */
    font-size: xx-large;
    font-weight:bold;
}

.newsDetail{
    display:flex;
    height:35%;
    width:100%;
    /* border:4px solid red; */
    font-size: x-large;
}

.artButton{
    margin-left:31%;
    /* display:flex;
    height:20%;
    width:20%;
    /* border:4px solid blue; */ 
}

.carousel-inner{
    /* border: 4px solid black; */
    height:100%;
    width:100%;
}

.press{
    display:flex;
    height: 20vh;
    align-items: center;
    width:65%;
    /* border: 4px solid yellow; */
    margin-left:10%;
    font-size:xx-large;
    
}


.carousel-section2{
    display:flex;
    height:120vh;
    width:100vw;
    /* border:5px solid blue; */
    flex-direction:row;
}

.carousel-section2a{
    display: flex;
    /* height:90%; */
    height:100%;
    width:50%;
    /* border:4px solid green; */
    border: 5px solid transparent;
    flex-direction:column;
}

.carousel-section2b{
    display: flex;
    /* height:90%; */
    height:100%;
    width:50%;
    /* border:4px solid grey; */
    border: 5px solid transparent;
    flex-direction:column;

}

.carousel-section2a1, .carousel-section2a2{
    display: flex;
    height:45%;
    width:100%;
    /* border:4px solid yellow; */
    flex-direction:column;
}

.carousel-section2b1, .carousel-section2b2{
    display: flex;
    height:45%;
    width:100%;
    /* border:4px solid yellow; */
    flex-direction:column;
}

.news{
    display: flex;
    height: 40%;
    width:100%;
    /* border:4px solid red; */
    font-size:xx-large;
    font-weight:normal;
    white-space: pre-line;
    padding:auto;
}

.magazine{
    display:flex;
    height: 20%;
    width:100%;
    /* border:4px solid red; */
    font-size:medium;
    font-weight:bold;
}

.readArticle{
    display:flex;
    height: 40%;
    width:100%;
    /* border:4px solid red; */
    align-items:center;
    justify-content:center;
}

.article{
    height:30%;
    width:30%;
    /* border:1px solid black; */
    padding-left: 60px;
    padding-top: 8px;

}

#left, #right{
    /* border: 5px solid green;  */
    background-color: white;
    color:light black;
    /* padding: 14px 28px; */
    /* font-size: 16px;
    justify-content: center;
    align-items: center; */
}

.button{
    /* border: 2px light black; */
    background-color: white;
    color:light black;
    padding: 14px 28px;
    font-size: 16px;
}















.footer-container{
    display: flex;
    /* align-content: center; */
    flex-direction: row;
    height: 63vh;
    background-color: #161f1e;
    color: white;
    width:100vw;
    /* border: 7px solid green; */
}
.logo2{
    width: 50vw;
}
.section1{
    display: flex;
    /* border:5px solid blueviolet; */
    width: 20%;
    height:30%;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 5%;
}

.section2{
    display: flex;
    width: 20%;
    height: 40%;
    flex-direction: column;
    /* border: 5px solid blueviolet; */
    justify-content:space-between;
    align-items: center;
    margin-top: 5%;
    /* margin-left: 20%; */
}
.section3{
    display: flex;
    width: 20%;
    height: 40%;
    margin-top: 5%;
    /* border: 5px solid blueviolet; */
    flex-direction: column;
    justify-content:space-between;
    align-content: space-between;
}